{% extends 'user/userpage.html' %}
{% block content %}
    <div class="privacy py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>U</span>pdate
            <form action="/cameraupdate/" method="post" class="creditly-card-form agileinfo_form">
            {% csrf_token %}
            {% for i in user_details %}
            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    <h4 class="mb-sm-4 mb-3">Address Details</h4>
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input  type="text" name="name" value='{{ i.username }}' required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" value='{{i.number}}' name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" value='{{i.city}}' name="city" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" value='{{i.state}}' name="state" required="">
                                    </div>
                                </div>
                                <button class="submit check_out btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

