{% extends 'user/userpage.html' %}
{% block content %}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver4 m-b-110">
                <table data-vertable="ver4">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column3" data-column="column3">Photographer Name</th>
                            <th class="column100 column4" data-column="column4">Place</th>
                            <th class="column100 column5" data-column="column5">Phone Number</th>
                            <th class="column100 column5" data-column="column5">Status</th>
                        </tr>
                    </thead>
                    {% for item in order %}
                    {% for i in status %}
                    <tbody>
                        <tr class="row100">
                            <td class="column100 column3" data-column="column3">{{item.name}}</td>
                            <td class="column100 column4" data-column="column4">{{item.place}}</td>
                            <td class="column100 column5" data-column="column5">{{item.contactnumber}}</td>
                            <td class="column100 column6" data-column="column6">{{i.status}}</td>
                            {% endfor %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


