{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">User Register</div>
                                    <div class="card-body card-block">
                                          <form method="POST" action='/register/'  enctype='multipart/form-data' >
                                          {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="File" id="email2" name="image" placeholder="image" class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="username" name="username" placeholder="Username" class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="email" id="email2" name="email" placeholder="Email" class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="password" id="password" name="password" placeholder="Password" class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="city" name="city" placeholder="City" class="form-control">

                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="input-group">
                                                    <input type="text" id="state" name="state" placeholder="State" class="form-control">
                                                </div>
                                            </div>
                                              <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="zip" name="zip" placeholder="Pincode" class="form-control">
                                                </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" id="number" name="number" placeholder="Phonenumber" class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-actions form-group">
                                                <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

{% endblock %}
