{% extends 'photographer/base.html' %}
{% block content %}
<form method='POST' action='/photographerlogin/'>
  {% csrf_token %}
  {% if message %}
  <div class="alert alert-warning" role="alert">
  {{ message }}
  </div>
  {% endif %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body card-block">
                <form action="" method="post" action='/photographerlogin/' >
                  {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" id="email2" name="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" id="password2" name="pass" placeholder="Password" class="form-control">

                        </div>
                    </div>
                    <div class="form-actions form-group">
                        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
