{% extends 'admin/admin.html' %}
{% block content %}
<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th >Quantity</th>
                            <th ></th>
                            <th ></th>
                        </tr>
                    </thead>
                    {% for item in details %}
                    <tbody>
                        <tr>
                            <td><img src="{{item.cameraimage.url}}" width="200" height="60"></td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td><a href="/cameraupdate/?id={{ item.id }}">Update</a></td>
                            <td><a href="/cameradelete/?id={{ item.id }}">Delete</a></td>
                        </tr>
                    </tbody>
                     {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
